accelerate==0.21.0
addict==2.4.0
albumentations==1.4.10
albumentations==1.4.3
anyio==3.6.2
anyio==3.7.1
beautifulsoup4==4.11.1
blendmodes==2024.1.1
caffe2==0.8.1
cityscapesscripts==2.2.4
clean_fid==0.1.35
cog==0.11.6
comet_ml==3.47.1
controlnet_aux==0.0.9
coremltools==8.0
cv_bridge==1.13.0.post0
decord==0.6.0
diffusers==0.4.2
diffusers==0.30.3
dill==0.3.9
diskcache==5.6.3
dominate==2.9.1
einops==0.4.1
facexlib==0.3.0
fairscale==0.4.13
fastapi==0.115.4
fire==0.7.0
fsspec==2024.10.0
ftfy==6.3.1
fvcore==0.1.5.post20221221
GitPython==3.1.32
GitPython==3.1.43
hydra-core==1.3.2
imutils==0.5.4
imwatermark==0.0.2
inflection==0.5.1
insightface==0.7.3
intel_extension_for_pytorch==2.4.0
iopath==0.1.9
ipython==8.27.0
ipython==8.12.3
jsonmerge==1.8.0
kornia==0.7.3
kornia==0.6.7
langchain==0.3.4
lap==0.4.0
lark==1.1.2
lmdb==1.4.1
lmdb==1.5.1
matplotlib==3.9.2
mc==0.0
mediapipe==0.10.14
mmdet==3.3.0
mmpose==1.3.2
mss==9.0.2
natsort==8.4.0
numpy==2.1.2
omegaconf==2.0.6
omegaconf==2.2.3
onnx==1.16.1
onnx==1.17.0
onnxruntime==1.18.0
onnxruntime==1.19.2
onnxruntime_gpu==1.18.0
onnxsim==0.4.36
open_clip_torch==2.20.0
opencv_contrib_python==4.10.0.84
opencv_python==4.10.0.84
opencv_python_headless==4.10.0.84
openvino==2024.2.0
packaging==24.1
paddle==1.0.2
pafy==0.5.5
pandas==1.5.3
parrots==1.0.3
piexif==1.1.3
Pillow==9.3.0
Pillow==9.5.0
Pillow==11.0.0
pillow_avif_plugin==1.4.3
prettytable==3.11.0
protobuf==3.20.0
psutil==5.9.4
psutil==5.9.5
pudb==2024.1.3
pycocoevalcap==1.2
pydantic==2.9.2
Pygments==2.13.0
pytest==8.3.3
pytorch_fid==0.3.0
pytorch_lightning==1.9.4
pytz==2024.1
pytz==2024.2
PyYAML==6.0.1
PyYAML==6.0.2
PyYAML==6.0.2
ray==2.38.0
RealESRGAN==1.0
RealESRGAN==0.3.0
regex==2024.5.15
regex==2024.9.11
reportlab==4.2.5
Requests==2.32.3
resize_right==0.0.2
rich==13.9.3
ruamel_yaml==0.18.6
safetensors==0.4.5
scipy==1.14.1
sdata==0.23.2
seaborn==0.13.2
selenium==4.25.0
sentry_sdk==2.14.0
sentry_sdk==2.15.0
setuptools==63.2.0
setuptools==69.5.1
Shapely==2.0.6
skimage==0.0
spandrel==0.3.4
spandrel_extra_arches==0.1.1
starlette==0.41.2
streamlit_drawable_canvas==0.9.3
super_gradients==3.7.1
svglib==1.5.1
tabulate==0.9.0
tensorboardX==2.6.2.2
tensorboardX==2.6.2.2
tensorflow==2.17.0
tensorflow==2.11.0
tensorflow_intel==2.17.0
tensorflowjs==4.22.0
tensorrt==10.5.0
termcolor==2.5.0
tflite_runtime==2.14.0
tflite_support==0.4.4
thop==0.1.1.post2209072238
tifffile==2024.7.2
tifffile==2024.9.20
timm==0.6.7
tomesd==0.1.3
torch==2.3.0+cu118
torch==2.4.1+cu118
torch_npu==2.3.1
torch_tb_profiler==0.4.3
torchdata==0.9.0
torchdiffeq==0.2.3
torchsde==0.2.6
torchvision==0.18.0+cu118
torchvision==0.19.1+cu118
tqdm==4.64.1
tqdm==4.66.5
transformers==4.41.2
transformers==4.30.2
turbojpeg==0.0.2
ultralytics_thop==2.0.9
uvicorn==0.32.0
webdataset==0.2.100
webdriver_manager==3.8.5
x2paddle==1.5.0
xformers==0.0.27.post2+cu118
yapf==0.40.2
yt_dlp==2024.10.22
